

.footer{
  text-align: center;
}

#add_item_popup{
    padding: 10px 20px;
}

#confirm_del_popup{
    padding: 10px 20px;
}

#no_name_popup{
    padding: 10px 20px;
}

#confirm_del_list_popup{
    padding: 10px 20px;
}

#addItemSubmit{
  width: 75%;
  margin: auto;
}

#addItemTitle{
  text-align: center;
}

#qtyContainer  {
  width: 60%;
  margin: auto;
}

#qtyField {
  text-align: center;
}

#itemNameField{
  text-align: center;
}

#deleteListLI {
  padding: 0;
  border: 0;
}

#deleteListh2 {
  margin: 0;
}

.strike_through {
  text-decoration: line-through !important;
  background-color: rgb(190, 190, 190) !important;
}

div.ui-input-text {
  margin-left: 10px;
  margin-right: 10px;

}
